django==3.0.5
dj_database_url==0.5.0
psycopg2-binary==2.8.4
virtualenv==20.0.15
django-toolbelt==0.0.1
requests==2.23.0
django-background-tasks==1.2.5
django-allauth==0.41.0
coverage==5.0.4
django-debug-toolbar==2.2
factory_boy==2.12.0
django-markdownify==0.8.0
django-emoji==0.3.1
