{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Bible Lover is a Bible website with functionalities such as quiz. Uses beautiful UI design for simple and easy navigation">
  <meta name="author" content="Bible Lover">
  <meta name="keywords" content="Bible, Bible quiz, memorize bible, scriptures, christianity">
  <meta name="theme-color" content="#800000" />
  <!-- Favicon -->
  <link rel="icon" href="{% static 'img/brand/favicon.png' %}" type="image/png">

  <title>{% block title %}{% endblock title %}Bible Lover</title>
  <!-- Preloader -->

  <script>
    window.addEventListener("load", function () {
      setTimeout(function () {
        document.querySelector('body').classList.add('loaded');
      }, 300);
    });
  </script>
  {% include "partials/_stylesheet.html" %}

</head>
