{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include "partials/_head.html" %}

<body>
  <!-- Preloader -->
    <!-- Modal profile -->
    {% include "partials/_preloader.html" %}

  {% if request.user.is_authenticated %}
  <!-- Modal profile -->
  {% include "partials/_modal_notifications.html" %}
  {% endif %}

  <!-- Cookies -->
  {% include "partials/_cookies.html" %}

  <!-- Navbar -->
  {% include "partials/_navbar.html" %}

  {% if request.user.is_authenticated %}
    <!-- Modal profile -->
    {% include "partials/_modal_profile.html" %}

    <!-- Switch theme -->
    {% include "partials/_switch_theme.html" %}
  {% endif %}

  <!-- Modal profile -->
  {% include "partials/_omnisearch.html" %}

  <!-- Main content -->
  {% block body %}{% endblock body %}

</body>

{% include "partials/_footer.html" %}
{% include "partials/_script.html" %}

</html>
