{% load static %}
<div class="modal fade fixed-right" id=modal-profile tabindex=-1 role=dialog aria-hidden=true>
  <div class="modal-dialog modal-vertical" role=document>
    <div class=modal-content>
      <div class=modal-body>
        <div><button type=button class=close data-dismiss=modal aria-label=Close><span
              aria-hidden=true>&times;</span></button></div>
        <div class=px-4>
          <div class="d-flex my-4">
            <div class="avatar-parent-child mx-auto"><img alt="{{ request.user.get_full_name }} profile"
                src="{% static 'img/icons/custom/user.png' %}" width class="avatar avatar-xl rounded-circle"> <span
                class="avatar-child avatar-badge bg-success"></span></div>
          </div>
          <div class="text-center mb-4">
            <h6 class="h5 mb-0">{{ request.user.get_full_name }}</h6><span
              class="d-block text-muted">{{ request.user.email }}</span>
          </div>
          <div class="d-flex mb-5">
            <div class="col-4 text-center"><a href=# class="h5 font-weight-bolder text-warning mb-0">25</a> <span
                class="d-block text-sm">Posts</span></div>
            <div class="col-4 text-center"><a href=# class="h5 font-weight-bolder text-warning mb-0">350</a> <span
                class="d-block text-sm">Following</span></div>
            <div class="col-4 text-center"><a href=# class="h5 font-weight-bolder text-warning mb-0">1.5K</a> <span
                class="d-block text-sm">Followers</span></div>
          </div>
          <div class=mb-5>
            <div class="text-center mb-3"><span class="d-block h6 mb-1">Monthly Usage</span> <a href=#
                class="h6 text-muted text-sm">42/50 GB</a></div>
            <div class=d-flex>
              <div class="progress-circle progress-lg mx-auto" id=progress-5 data-progress=72 data-trailwidth=4
                data-text=72% data-textclass=h3 data-color=primary></div>
            </div>
            <div class="mt-4 pt-4 border-top">
              <div class="row align-items-center mb-3">
                <div class=col-auto>
                  <div class="icon icon-shape bg-soft-warning text-warning"><i class="fas fa-image"></i></div>
                </div>
                <div class="col pl-0"><span class="d-block h6 text-sm mb-0">Images</span>
                  <p class="mb-0 text-sm">2580 files</p>
                </div>
                <div class="col-auto text-right"><a href=# class="h6 text-sm">18 GB</a></div>
              </div>
              <div class="row align-items-center mb-3">
                <div class=col-auto>
                  <div class="icon icon-shape bg-soft-success text-success"><i class="fas fa-file-alt"></i></div>
                </div>
                <div class="col pl-0"><span class="d-block h6 text-sm mb-0">Documents</span>
                  <p class="mb-0 text-sm">375 files</p>
                </div>
                <div class="col-auto text-right"><a href=# class="h6 text-sm">5 GB</a></div>
              </div>
              <div class="row align-items-center mb-3">
                <div class=col-auto>
                  <div class="icon icon-shape bg-soft-danger text-danger"><i class="fas fa-video"></i></div>
                </div>
                <div class="col pl-0"><span class="d-block h6 text-sm mb-0">Media</span>
                  <p class="mb-0 text-sm">190 files</p>
                </div>
                <div class="col-auto text-right"><a href=# class="h6 text-sm">10 GB</a></div>
              </div>
              <div class="row align-items-center">
                <div class=col-auto>
                  <div class="icon icon-shape bg-soft-primary text-primary"><i class="fas fa-question"></i></div>
                </div>
                <div class="col pl-0"><span class="d-block h6 text-sm mb-0">Misc</span>
                  <p class="mb-0 text-sm">376 files</p>
                </div>
                <div class="col-auto text-right"><a href=# class="h6 text-sm">3 GB</a></div>
              </div>
            </div>
          </div>
          <div class="card shadow-none border-0 bg-section-secondary mt-8">
            <div class="card-body pt-0 px-3 text-center">
              <div class="pb-4 px-5 mt-n6"><img src="{% static 'img/icons/custom/user.png' %}"
                  class="img-fluid img-center" alt=Illustration></div>
              <h5 class="h5 mb-3">Upgrade to Pro</h5>
              <p class=text-muted>One year support, montlhy updates for up to 5 team members.</p><a href=#
                class="btn btn-sm btn-primary">Upgrade</a>
            </div>
          </div>
        </div>
      </div>

      {% if request.user.is_authenticated %}
      <div class="modal-footer py-3 mt-auto"><a href="{% url 'account_logout' %}"
          class="btn btn-block btn-sm btn-neutral btn-icon rounded-pill">
          <span class=btn-inner--icon><i data-feather=log-out></i></span> <span class=btn-inner--text>Sign out</span>
        </a></div>

        {% else %}
        <div class="modal-footer py-3 mt-auto"><a href="{% url 'account_login' %}"
          class="btn btn-block btn-sm btn-neutral btn-icon rounded-pill">
          <span class=btn-inner--icon><i data-feather=log-in></i></span> <span class=btn-inner--text>Sign in</span>
        </a></div>

    </div>


    {% endif %}
  </div>
</div>
