{% load static %}
<!-- Header -->
<header class="" id="header-main">
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg navbar-light" id="navbar-main">
    <div class="container">
      <!-- Brand -->
      <a class="navbar-brand" href="{% url 'home:index' %}">
        <img alt="Bible Lover Logo" style="height:7.5rem" src="{% static 'img/brand/logo.png' %}" id="navbar-logo">
      </a>
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse"
        aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-overlay" id="navbar-main-collapse">
        <!-- Toggler -->
        <div class="position-relative">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse"
            aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <i data-feather="x"></i>
          </button>
        </div>

        <!-- Main navigation -->
        <ul class="navbar-nav ml-lg-auto">
          <!-- SVG icon -->
          <!-- <figure style="width: 25px;">
              <img alt="Image placeholder" src="{% static 'img/svg/icons/bible.svg' %}"
                class="img-fluid" style="height: 25px;">
            </figure> -->
          <!-- Dashboard -->
          <li class="nav-item nav-item-spaced d-none d-lg-block">
            <a class="nav-link" href="../../overview.html">
              Dashboard
            </a>
          </li>
          <!-- Bible -->
          <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Bible</a>
            <div class="dropdown-menu dropdown-menu-md p-0">
              <div class="list-group-item border-0">
                <div class="media d-flex">
                  <!-- SVG icon -->
                  <figure style="width: 40px;">
                    <img alt="Read Icon" src="{% static 'img/svg/icons/read.svg' %}" class="img-fluid"
                      style="height: 40px;">
                  </figure>
                  <!-- Media body -->
                  <div class="media-body ml-3">
                    <a href="../../overview.html#landing" class="d-block h6 mb-0">Read</a>
                    <small class="text-sm text-muted mb-0">The sacred writings of the Old
                      or New Testaments.</small>
                  </div>
                </div>
              </div>
              <div class="list-group-item border-0">
                <div class="media d-flex">
                  <!-- SVG icon -->
                  <figure style="width: 40px;">
                    <img alt="Read Icon" src="{% static 'img/svg/icons/notes.svg' %}" class="img-fluid"
                      style="height: 40px;">
                  </figure>
                  <!-- Media body -->
                  <div class="media-body ml-3">
                    <a href="../../overview.html#landing" class="d-block h6 mb-0">Notes</a>
                    <small class="text-sm text-muted mb-0">Write down what you've
                      learnt from your readings.</small>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-- Activities -->
          <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Activities</a>
            <div class="dropdown-menu dropdown-menu-md p-0">
              <div class="list-group-item border-0">
                <div class="media d-flex">
                  <!-- SVG icon -->
                  <figure style="width: 40px;">
                    <img alt="Read Icon" src="{% static 'img/svg/icons/read.svg' %}" class="img-fluid"
                      style="height: 40px;">
                  </figure>
                  <!-- Media body -->
                  <div class="media-body ml-3">
                    <a href="../../overview.html#landing" class="d-block h6 mb-0">Quiz</a>
                    <small class="text-sm text-muted mb-0">Test and improve
                      your knowledge.</small>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-- Account -->
          <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Account</a>
            <div class="dropdown-menu dropdown-menu-md p-0">
              <div class="list-group-item border-0">
                <div class="media d-flex">
                  <!-- SVG icon -->
                  <figure style="width: 40px;">
                    <img alt="Read Icon" src="{% static 'img/svg/icons/account.svg' %}" class="img-fluid"
                      style="height: 40px;">
                  </figure>
                  <!-- Media body -->
                  <div class="media-body ml-3">
                    <a href="../../overview.html#landing" class="d-block h6 mb-0">Profile</a>
                    <small class="text-sm text-muted mb-0">View your personal
                      profile.</small>
                  </div>
                </div>
              </div>
              <div class="list-group-item border-0">
                <div class="media d-flex">
                  <!-- SVG icon -->
                  <figure style="width: 40px;">
                    <img alt="Read Icon" src="{% static 'img/svg/icons/statistics.svg' %}" class="img-fluid"
                      style="height: 40px;">
                  </figure>
                  <!-- Media body -->
                  <div class="media-body ml-3">
                    <a href="../../overview.html#landing" class="d-block h6 mb-0">Statistics</a>
                    <small class="text-sm text-muted mb-0">Information relating
                      to your activities.</small>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- Right navigation -->
        <ul class="navbar-nav align-items-lg-center d-none d-lg-flex ml-lg-auto">
          <!-- Auth -->
          <li class="nav-item">
            {% if not request.user.is_authenticated %}
            <a class="nav-link" href="{% url 'account_login' %}">Sign in</a>
            {% else %}

            <a href="{% url 'account_logout' %}" class="btn btn-sm btn-soft-danger btn-icon ml-3">
              <span class="btn-inner--icon"><i data-feather="log-out"></i></span>
              <span class="btn-inner--text">Log out</span>
            </a>
            {% endif %}
          </li>

          {% if not request.user.is_authenticated %}
          <li class="nav-item">
            <a href="https://themes.getbootstrap.com/product/quick-website-ui-kit-2/"
              class="btn btn-sm btn-primary btn-icon ml-3">
              <span class="btn-inner--icon"><i data-feather="user-plus"></i></span>
              <span class="btn-inner--text">Register</span>
            </a>
          </li>
          {% endif %}
        </ul>
        <!-- Mobile button -->
        <div class="d-lg-none px-4 text-center">
          <a href="https://themes.getbootstrap.com/product/quick-website-ui-kit-2/"
            class="btn btn-block btn-sm btn-primary" target="_blank">Purchase now</a>
        </div>
      </div>
    </div>
  </nav>
</header>