{% load static %}
<!-- Core JS  -->
<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/svg-injector/dist/svg-injector.min.js' %}"></script>
<script src="{% static 'libs/feather-icons/dist/feather.min.js' %}"></script>
<!-- Optional JS -->
<script src="{% static 'libs/in-view/dist/in-view.min.js' %}"></script>
<script src="{% static 'libs/sticky-kit/dist/sticky-kit.min.js' %}"></script>
<script src="{% static 'libs/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<!-- Page JS -->
<script src="{% static 'libs/swiper/dist/js/swiper.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'libs/typed.js/lib/typed.min.js' %}"></script>
<!-- Quick JS -->
<script src="{% static 'libs/progressbar.js/dist/progressbar.min.js' %}"></script>
<script src="{% static 'js/quick-website.min.js' %}"></script>

<script src="{% static 'js/custom.js' %}"></script>
<!-- Feather Icons -->
<script>
  feather.replace({
    'width': '1em',
    'height': '1em'
  })
</script>
