{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include "partials/_head.html" %}
{% include "partials/_navbar.html" %}

<title>Privacy & Cookies Policy :: Bible Lover</title>

{% block body %}
<section>
    <div class="container d-flex align-items-center text-center text-lg-left py-5 py-lg-6 border-bottom">
        <div class="col px-0">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="h1 mb-2">Privacy & Cookies Policy</h2>
                    <h6 class="font-weight-light text-muted">Last updated: April 9th, 2020</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<section class=slice>
    <div class=container>
        <div class="row row-grid justify-content-between">
            <div class=col-lg-3>
                <div data-toggle=sticky data-sticky-offset=50>
                    <div class=card>
                        <div class=card-body>
                            <nav class="nav nav-pills flex-column" id=nav-terms><a class="nav-link text-sm"
                                    href=#header-section data-scroll-to data-scroll-to-offset=130>Welcome to our Privacy
                                    Policy</a>
                                <a class="nav-link text-sm" href=#visitors-section data-scroll-to
                                    data-scroll-to-offset=130>Website Visitors</a> <a class="nav-link text-sm"
                                    href=#gathering-section data-scroll-to data-scroll-to-offset=130>Gathering of Personally-Identifying Information</a> <a
                                    class="nav-link text-sm" href=#security-section data-scroll-to
                                    data-scroll-to-offset=130>Security</a> <a class="nav-link text-sm" href=#advertisement-section data-scroll-to
                                    data-scroll-to-offset=130>Advertisement</a> <a class="nav-link text-sm"
                                    href=#external-section data-scroll-to data-scroll-to-offset=130>Links To External Sites</a> <a 
                                    class="nav-link text-sm" href=#aggregated-section data-scroll-to
                                    data-scroll-to-offset=130>Aggregated Statistics</a> <a
                                    class="nav-link text-sm" href=#cookies-section data-scroll-to
                                    data-scroll-to-offset=130>Cookies</a>
                                <a class="nav-link text-sm" href=#changes-section data-scroll-to
                                    data-scroll-to-offset=130>Privacy Policy Changes</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=col-lg-8>
                <div class=mb-5>
                    <h5 id=header-section>Welcome to our Privacy Policy</h5>
                    <h6>Your privacy is citically important to us.</h6>
                    <p>It is Bible Lover's policy to respect your privacy regarding any information we may collect while
                        operating our website. This Privacy Policy applies to <a
                            href="{% url 'base:index' %}">Bible Lover</a> (hereinafter, "us",
                        "we", or "{{ request.get_host }}"). We respect your privacy and are committed to protecting
                        personally identifiable information you may provide us through the Website. We have adopted this
                        privacy policy ("Privacy Policy") to explain what information may be collected on our Website,
                        how we use this information, and under what circumstances we may disclose the information to
                        third parties. This Privacy Policy applies only to information we collect through the Website
                        and does not apply to our collection of information from other sources.</p>
                    <p>This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the
                        general rules and policies governing your use of our Website. Depending on your activities when
                        visiting our Website, you may be required to agree to additional terms and conditions.</p>

                    <h5 id=visitors-section>Website Visitors</h5>
                    <p>Like most website operators, Bible Lover collects non-personally-identifying information of the
                        sort that web browsers and servers typically make available, such as the browser type, language
                        preference, referring site, and the date and time of each visitor request. Bible Lover's purpose
                        in collecting non-personally identifying information is to better understand how Bible Lover's
                        visitors use its website. From time to time, Bible Lover may release non-personally-identifying
                        information in the aggregate, e.g., by publishing a report on trends in the usage of its
                        website.</p>
                    <p>Bible Lover also collects potentially personally-identifying information like Internet Protocol
                        (IP) addresses for logged in users and for users leaving comments on
                        {{ request.get_host }} blog posts. Bible Lover only discloses logged in user and
                        commenter IP addresses under the same circumstances that it uses and discloses
                        personally-identifying information as described below.</p>

                    <h5 id=gathering-section>Gathering of Personally-Identifying Information</h5>
                    <p>Certain visitors to Bible Lover's websites choose to interact with Bible Lover in ways that
                        require Bible Lover to gather personally-identifying information. The amount and type of
                        information that Bible Lover gathers depends on the nature of the interaction. For example, we
                        ask visitors who sign up at {{ request.get_host }} to provide a username
                        and email address.</p>

                    <h5 id=security-section>Security</h5>
                    <p>The security of your Personal Information is important to us, but remember that no method of
                        transmission over the Internet, or method of electronic storage is 100% secure. While we strive
                        to use commercially acceptable means to protect your Personal Information, we cannot guarantee
                        its absolute security.</p>

                    <h5 id=advertisement-section>Advertisement</h5>
                    <p>Ads appearing on our website may be delivered to users by advertising partners, who may set
                        cookies. These cookies allow the ad server to recognize your computer each time they send you an
                        online advertisement to compile information about you or others who use your computer. This
                        information allows ad networks to, among other things, deliver targeted advertisements that they
                        believe will be of most interest to you. This Privacy Policy covers the use of cookies by Bible
                        Lover and does not cover the use of cookies by any advertisers.</p>

                    <h5 id=external-section>Links To External Sites</h5>
                    <p>Our Service may contain links to external sites that are not operated by us. If you click on a
                        third party link, you will be directed to that third party's site. We strongly advise you to
                        review the Privacy Policy and terms and conditions of every site you visit.</p>
                    <p>We have no control over, and assume no responsibility for the content, privacy policies or
                        practices of any third party sites, products or services.</p>

                    <h5 id=aggregated-section>Aggregated Statistics</h5>
                    <p>Bible Lover may collect statistics about the behavior of visitors to its website. Bible Lover may
                        display this information publicly or provide it to others. However, Bible Lover does not
                        disclose your personally-identifying information.</p>

                    <h5 id=cookies-section>Cookies</h5>
                    <p>To enrich and perfect your online experience, Bible Lover uses "Cookies", similar technologies
                        and services provided by others to display personalized content, appropriate advertising and
                        store your preferences on your computer.</p>
                    <p>A cookie is a string of information that a website stores on a visitor's computer, and that the
                        visitor's browser provides to the website each time the visitor returns. Bible Lover uses
                        cookies to help Bible Lover identify and track visitors, their usage of
                        {{ request.get_host }}, and their website access preferences. Bible Lover visitors who
                        do not wish to have cookies placed on their computers should set their browsers to refuse
                        cookies before using Bible Lover's websites, with the drawback that certain features of Bible
                        Lover's websites may not function properly without the aid of cookies.</p>

                    <p>By continuing to navigate our website without changing your cookie settings, you hereby
                        acknowledge
                        and agree to Bible Lover's use of cookies.</p>

                    <h5 id=changes-section>Privacy Policy Changes</h5>
                    <p>Although most changes are likely to be minor, Bible Lover may change its Privacy Policy from time
                        to time, and in Bible Lover's sole discretion. Bible Lover encourages visitors to frequently
                        check this page for any changes to its Privacy Policy. Your continued use of this site after any
                        change in this Privacy Policy will constitute your acceptance of such change.</p>
                    <h2></h2>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "partials/_footer.html" %}
</body>
{% endblock body %}

{% include "partials/_script.html" %}

</html>
