{% extends "partials/_layout.html" %}
{% load static %}
{% block title %} Confirm E-mail address {% endblock title %}

{% block body %}

<section class="section-half-rounded bg-cover bg-size--cover py-4 py-sm-0"
style=background-image:url("{% static 'img/backgrounds/img-4.jpg' %}")>
<div class="container-fluid d-flex flex-column">
  <div class="row align-items-center min-vh-100">
    <div class="col-md-6 col-lg-5 col-xl-4 mx-auto">
      <div class="card shadow-lg border-0 mb-0">
        <div class="card-body py-5 px-sm-5">
          <div>
            {% if confirmation %}

            <div class="mb-4 text-center">
              <h2 class="h3 mb-5">Confirm E-mail address</h2>
              <p class="text-muted mb-0">Thanks for registering. Please confirm that <a
                href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a> is the email for user <span class="text-underline--dashed">{{ confirmation.email_address.user }}</span> </p>
            </div>

            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
              {% include 'partials/_form_errors.html' %}
              <button class="btn btn-info my-2 ml-0 ml-sm-3 center" type="submit">Confirm</button>
            </form>

            <div class="text-center"><small><strong>Note:</strong> you can still <a href="{{ account_email }}">change your e-mail address</a>.</small></div>

            {% else %}

            <h6 class="font-weight-light alert alert-outline-danger">This e-mail confirmation link expired or is
              invalid. Please <a class="text-underline--dashed" href="{% url 'account_email' %}">issue a new e-mail confirmation request</a>.</a></span> </h6>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</section>

</body>

{% endblock body %}

{% include "partials/_footer.html" %}

{% include "partials/_script.html" %}

</html>
