{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include "partials/_head.html" %}

<title>Sign out :: Bible Lover</title>

{% include "partials/_navbar.html" %}

{% block body %}

<section class="section-half-rounded bg-cover bg-size--cover py-4 py-sm-0"
  style=background-image:url("{% static 'img/backgrounds/img-4.jpg' %}")>
  <div class="container-fluid d-flex flex-column">
    <div class="row align-items-center min-vh-100">
      <div class="col-md-6 col-lg-5 col-xl-4 mx-auto">
        <div class="card shadow-lg border-0 mb-0">
          <div class="card-body py-5 px-sm-5">
            <div>
              <div class="mb-4 text-center">
                <h2 class="h3 mb-2">Sign out</h2>
                <p class="text-muted mb-0">Are you sure you want to sign out?</p>
              </div>

              <form method="POST" action="{% url 'account_logout' %}">
                {% include 'partials/_form_errors.html' %}
                {% if redirect_field_value %}
                <input name="{{ redirect_field_name }}" type="hidden" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-info my-2 ml-0 ml-sm-3 center">Sign out</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>

{% endblock body %}

{% include "partials/_footer.html" %}

{% include "partials/_script.html" %}

</html>

