{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include "partials/_head.html" %}

<title>Reset Password :: Bible Lover</title>

{% block body %}

<body>

  <section class="section-half-rounded bg-cover bg-size--cover py-4 py-sm-0"
    style=background-image:url("{% static 'img/backgrounds/img-3.jpg' %}")>
    <div class="container-fluid d-flex flex-column">
      <div class="row align-items-center min-vh-100">
        <div class="col-md-6 col-lg-5 col-xl-4 mx-auto">
          <div class="card shadow-lg border-0 mb-0">
            <div class="card-body py-5 px-sm-5">
              <div>
                <div class="mb-5 text-center">
                  <h6 class="h3 mb-1">Reset password</h6>
                  <p class="text-muted mb-0">We will send you an email that will allow you to reset your password.</p>
                </div><span class=clearfix></span>

                <form method="post">
                  {% csrf_token %}

                  <div class=form-group><label class=form-control-label>Email address</label>
                    <div class="input-group input-group-merge"><input type=email
                        class="form-control form-control-prepend" id=input-email placeholder=name@example.com
                        name="password_reset" required="">
                      <div class="input-group-prepend"><span class="input-group-text"><svg
                            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-user">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                          </svg></span></div>
                    </div>
                  </div>

                  <div class=mt-4><input type=submit class="btn btn-block btn-primary" value="Reset my password"></div>
                </form>

                <div class="mt-4 text-center"><small>Not registered?</small> <a href="{% url 'account_signup' %}"
                    class="small font-weight-bold">Create account</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
{% endblock body %}

{% include "partials/_script.html" %}

</html>
