{% extends "partials/_layout.html" %}
{% load static %}
{% block title %} Sign Up Closed {% endblock title %}

{% block body %}

<section class="section-half-rounded bg-cover bg-size--cover py-4 py-sm-0"
  style=background-image:url("{% static 'img/backgrounds/img-4.jpg' %}")>
  <div class="container-fluid d-flex flex-column">
    <div class="row align-items-center min-vh-100">
      <div class="col-md-6 col-lg-5 col-xl-4 mx-auto">
        <div class="card shadow-lg border-0 mb-0">
          <div class="card-body py-5 px-sm-5">
            <div>
              <div class="mb-5 text-center">
                <h6 class="h3 mb-1">Sign Up Closed</h6>
                <p class="text-muted mb-0">We are sorry, but the sign up is currently closed.</p>
              </div>

              <div class="text-center"><small>Please <a href="mailto:bibleloverbl@gmail.com">contact us</a> if you have
                  any problems.</small></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>

{% endblock body %}
